@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap');

/* font-family: 'Abril Fatface', cursive;
font-family: 'Bebas Neue', cursive; */

body {
  margin: 0;
  background-color: rgb(44, 51, 51);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
